

.pagination{
    width: 800px;
    text-decoration: none;
    background-color: #fff;
}

.pag_list{
    list-style: none;
}

a.link{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 20px;
    padding-top: 10px;
    background-color: var(--hover-color);
    text-decoration: none;
    border-radius: 10%;
    font-weight: bold;
}
a.link:hover{
    transition: 0.3s;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 20px;
    color: black;
    padding-top: 10px;
    background-color: var(--color2);
    text-decoration: none;
    border-radius: 50%;
}
.elemento_lista{
    display: inline-block;
}
a.link:checked{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 20px;
    color: black;
    padding-top: 10px;
    background-color: var(--color2);
    text-decoration: none;
    border-radius: 50%;
}
.siguinte-pagina1{
    padding-left: 20px;
    text-decoration: none;
    display: inline-block;
}
.siguinte-pagina2{
    display: inline-block;
    width: 200px;
    padding-left: 20px;
    text-decoration: none;
    background-color: var(--border-color);
    border-radius: 15px;
}
.siguinte-pagina2:hover{
    display: inline-block;
    width: 300px;
    padding-left: 20px;
    text-decoration: none;
    background-color: var(--color2);
    z-index: 1;
    border-radius: 15px;
    
}
.pagination_mod1_bordes_color{
    display: block;
    width: 600px;
    background-color: antiquewhite;
    border: solid 1px var(--primary-color) ;
    border-radius: 20px;
    padding: 10px;
}
.elemento_lista_bordes_color{
    display: inline-block;
}
.material-symbols-outlined{
    position: relative;
    z-index: 12;
    color: var(--hover-color);
    display: inline-block;
    margin: 5px 0 0 0;
}
